@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 182, 208);
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.navigationbar {
  font-size: 0.8rem;
  height: 6rem;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 0.2rem;
}

.hindi {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-size: 1.75rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinkText {
  animation: blink 1.2s infinite;
  font-size: 1.5rem;
  padding: 1rem;
}

.box {
  background-color: #f5f5f5;
  flex: 1;
  width: 75%;
  min-height: 400px;
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.logo {
  position: relative;
  width: 50%;
  padding: 20px;
}

.logo img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.formPlace {
  width: 50%;
  padding: 20px;
}

.PageNotFound {
  font-size: 4rem;
  padding-top: 10rem;
}

/* CSS for form styling */
form {
  margin-bottom: 20px;
  padding: 20px;
}

form label {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="tel"],
form input[type="email"],
form select {
  width: 80%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="file"] {
  width: calc(100% - 210px);
  margin-bottom: 10px;
}

form fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form legend {
  font-weight: bold;
}

form fieldset label {
  display: inline-block;
  width: 150px;
  margin-bottom: 5px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-container button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #0056b3;
}
