{% extends "base_login.html" %}
{% block title %}Faculty Forgot Password{% endblock title %}
{% block content %}
<div class="formPlace">
  <h1 class="mb-4">RESET PASSWORD HERE</h1>
  <form action="#" class="formPage" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email address"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block my-2 px-5">
      RESET
    </button>
  </form>
  <div class="btn-group mt-3">
    <!-- <a href="#" class="btn btn-secondary">Register</a>
                        <a href="#" class="btn btn-link">Forgot Password?</a> -->
    <!-- <span>Already Registered</span> -->

    <button class="btn btn-success mx-3">Register</button>
    <button class="btn btn-secondary mx-3">Login</button>
  </div>
</div>
{% endblock content %}
