{% extends "base_form.html" %}
{% block title %}Page8{% endblock title %}
{% block content %}
<form action="{% url 'page8' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <section>
        <fieldset>
            <legend>20 Reprints of 5 Best Research Papers *</legend>
            <div class="mb-4">
                {{ form.research_papers.errors }}
                {{ form.research_papers.label_tag }}
                {{ form.research_papers }}<br>
                {% comment %} <button type="button" onclick="viewUploadedFile('research_papers')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
            </div>
        </fieldset>
    </section>

    <section>
        <fieldset>
            <legend>21. Check List of the documents attached with the online application *</legend>
            <p>Note- Check List of the documents attached with the online application (Documents should be uploaded in PDF format only): Uploaded PDF files will not be displayed as part of the printed form.</p>
            <div class="mb-4">
                <ul class="list-unstyled">
                    <li>
                        {{ form.phd_certificate.errors }}
                        {{ form.phd_certificate.label_tag }}
                        {{ form.phd_certificate }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('phd_certificate')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update PHD Certificate
                    </li>
                    <li>
                        {{ form.pg_documents.errors }}
                        {{ form.pg_documents.label_tag }}
                        {{ form.pg_documents }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('pg_documents')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update PG Documents(Marksheets and Degree certificate)
                    </li>
                    <li>
                        {{ form.ug_documents.errors }}
                        {{ form.ug_documents.label_tag }}
                        {{ form.ug_documents }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('ug_documents')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update UG Documents(Marksheets and Degree certificate)
                    </li>
                    <li>
                        {{ form.certificate_12th.errors }}
                        {{ form.certificate_12th.label_tag }}
                        {{ form.certificate_12th }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('certificate_12th')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update 12th/HSC/Diploma/Marksheet(s) and passing certificate
                    </li>
                    <li>
                        {{ form.certificate_10th.errors }}
                        {{ form.certificate_10th.label_tag }}
                        {{ form.certificate_10th }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('certificate_10th')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update 10th/SSC Documents/Marksheets
                    </li>
                    <li>
                        {{ form.pay_slip.errors }}
                        {{ form.pay_slip.label_tag }}
                        {{ form.pay_slip }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('pay_slip')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Update Pay Slip
                    </li>
                    <li>
                        {{ form.noc_undertaking.errors }}
                        {{ form.noc_undertaking.label_tag }}
                        {{ form.noc_undertaking }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('noc_undertaking')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        NOC or Undertaking
                    </li>
                    <li>
                        {{ form.post_phd_experience.errors }}
                        {{ form.post_phd_experience.label_tag }}
                        {{ form.post_phd_experience }}<br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('post_phd_experience')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Post PhD Experience Certificate/All Experience Certificates/Last Pay slip/
                    </li>
                    <li>
                        {{ form.other_documents.errors }}
                        {{ form.other_documents.label_tag }}
                        {{ form.other_documents }} <br>
                        {% comment %} <button type="button" onclick="viewUploadedFile('other_documents')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                        Upload any other relevant document in a single PDF (For example award certificate, experience certificate etc) < 1MB.
                    </li>
                </ul>
                <hr>
                <div class="mb-4">
                    <h2>Upload your Signature in JPG only (image)</h2>
                    {{ form.signature.errors }}
                    {{ form.signature.label_tag }}
                    {{ form.signature }}<br>
                    {% comment %} <button type="button" onclick="viewUploadedFile('signature')" class="btn btn-primary mt-2">View Uploaded File</button> {% endcomment %}
                </div>
            </div>
        </fieldset>
    </section>

    <!-- Section 22: Referees -->
    <section>
        <h4>22. Referees</h4>

        <fieldset>
            <legend>Referees</legend>
            <button type="button" id="addRowBtn22" class="btn btn-primary mb-3">Add Referees</button>
            <div class="table-responsive">
                <table class="table" id="refereeTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Association with Referee</th>
                            <th>Institution/Organization</th>
                            <th>Email</th>
                            <th>Mobile No.</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </section>

    <!-- Save and Next button -->
    <div class="btn-container">
        <a href="{% url 'page7' %}" class="btn btn-success mx-3 p-2">Previous Page</a>
        <button type="submit" id="nextButton">Save And Next</button>
    </div>
</form>

<script>
    function viewUploadedFile(inputId) {
        const fileInput = document.getElementById(inputId);
        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                window.open(e.target.result);
            };
        } else {
            alert("No file selected!");
        }
    }

    document.addEventListener('DOMContentLoaded', function () {

        //22
        const addRowBtn22 = document.getElementById('addRowBtn22');
        const tableBody22 = document.querySelector('#refereeTable tbody');
        // Add event listener for add button
        addRowBtn22.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="referee_name_"></td>
                <td><input type="text" name="referee_position_"></td>
                <td>
                    <select name="referee_relation_">
                        <option value="Thesis Supervisor">Thesis Supervisor
                        </option>
                        <option value="Postdoc Supervisor">Postdoc Supervisor</option>
                        <option value="Research Collaborator">Research Collaborator</option>
                        <option value="Other">Other</option>
                    </select>
                </td>
                <td><input type="text" name="referee_organisation_"></td>
                <td><input type="email" name="referee_email_"></td>
                <td><input type="text" name="referee_mobile_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody22.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody22.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });
    });

</script>

{% endblock content %}
