{% extends "base_form.html" %}
{% block title %}Page5{% endblock title %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Section 9: Membership of Professional Societies -->
    <section>
        <h4>9. Membership of Professional Societies</h4>

        <fieldset>
            <legend>Membership of Professional Societies</legend>
            <button type="button" id="addRowBtn9" class="btn btn-primary mb-3">Add Professional Society</button>
            <div class="table-responsive">
                <table class="table" id="societyTable">
                    <thead>
                        <tr>
                            <th>Name of the Professional Society</th>
                            <th>Membership Status (Lifetime/Annual)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </section>

    <!-- Section 10: Professional Training -->
    <section>
        <h4>10. Professional Training</h4>

        <fieldset>
            <legend>Professional Training</legend>
            <button type="button" id="addRowBtn10" class="btn btn-primary mb-3">Add Professional Training</button>
            <div class="table-responsive">
                <table class="table" id="profTrainTable">
                    <thead>
                        <tr>
                            <th>Type of Training Received</th>
                            <th>Organisation</th>
                            <th>Year</th>
                            <th>Duration (in years)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </section>

    <!-- Section 11: Award(s) and Recognition(s) -->
    <section>
        <h4>11. Award(s) and Recognition(s)</h4>
        
        <fieldset>
            <legend>Award(s) and Recognition(s)</legend>
            <button type="button" id="addRowBtn11" class="btn btn-primary mb-3">Add Award/Recognition</button>
            <div class="table-responsive">
                <table class="table" id="awardTable">
                    <thead>
                        <tr>
                            <th>Name of Award</th>
                            <th>Awarded By</th>
                            <th>Year</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </section>

    <!-- Section 12: Sponsored Projects/ Consultancy Details -->
    <section>
        <h4>12. Sponsored Projects/ Consultancy Details</h4>

        <fieldset>
            <legend>(A) Sponsored Projects</legend>
            <button type="button" id="addRowBtn12A" class="btn btn-primary mb-3">Add Sponsored Project</button>
            <div class="table-responsive">
                <table class="table" id="sponsProjTable">
                    <thead>
                        <tr>
                            <th>Sponsoring Agency</th>
                            <th>Title of Project</th>
                            <th>Sanctioned Amount (₹)</th>
                            <th>Period</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset>
            <legend>(B) Consultancy Projects</legend>
            <button type="button" id="addRowBtn12B" class="btn btn-primary mb-3">Add Consultancy Project</button>
            <div class="table-responsive">
                <table class="table" id="consProjTable">
                    <thead>
                        <tr>
                            <th>Organisation</th>
                            <th>Title of Project</th>
                            <th>Amount of Grant (₹)</th>
                            <th>Period</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </section>


    <!-- Save and Next button -->
    <div class="btn-container">
        <a href="{% url 'page4' %}" class="btn btn-success mx-3">Previous Page</a>
        <button type="submit" id="nextButton">Save And Next</button>
    </div>
</form>

<script>
    // JavaScript for dynamic addition and deletion of rows
    document.addEventListener('DOMContentLoaded', function () {

        //9
        const addRowBtn9 = document.getElementById('addRowBtn9');
        const tableBody9 = document.querySelector('#societyTable tbody');

        // Add event listener for add button
        addRowBtn9.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="society_name_"></td>
                <td>
                    <select name="membership_status_">
                        <option value="Lifetime">Lifetime</option>
                        <option value="Annual">Annual</option>
                    </select>
                </td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody9.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody9.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });

        //10
        const addRowBtn10 = document.getElementById('addRowBtn10');
        const tableBody10 = document.querySelector('#profTrainTable tbody');
        // Add event listener for add button
        addRowBtn10.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="training_type_"></td>
                <td><input type="text" name="training_organisation_"></td>
                <td><input type="text" name="training_year_"></td>
                <td><input type="number" name="training_durations_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody10.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody10.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });

        //11
        const addRowBtn11 = document.getElementById('addRowBtn11');
        const tableBody11 = document.querySelector('#awardTable tbody');
        // Add event listener for add button
        addRowBtn11.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="award_name_"></td>
                <td><input type="text" name="awarded_by_"></td>
                <td><input type="text" name="award_year_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody11.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody11.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


        //12A
        const addRowBtn12A = document.getElementById('addRowBtn12A');
        const tableBody12A = document.querySelector('#sponsProjTable tbody');
        // Add event listener for add button
        addRowBtn12A.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="sponsored_agency_"></td>
                <td><input type="text" name="sponsored_title_"></td>
                <td><input type="text" name="sponsored_amount_"></td>
                <td><input type="text" name="sponsored_period_"></td>
                <td>
                    <select name="sponsored_role_">
                        <option value="Principal Investor">Principal Investor</option>
                        <option value="Co-Investor">Co-Investor</option>
                    </select>
                </td>
                <td><input type="text" name="sponsored_status_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody12A.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody12A.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


        //12B
        const addRowBtn12B = document.getElementById('addRowBtn12B');
        const tableBody12B = document.querySelector('#consProjTable tbody');
        // Add event listener for add button
        addRowBtn12B.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="consultancy_organisation_"></td>
                <td><input type="text" name="consultancy_title_"></td>
                <td><input type="text" name="consultancy_amount_"></td>
                <td><input type="text" name="consultancy_period_"></td>
                <td>
                    <select name="consultancy_role_">
                        <option value="Principal Investor">Principal Investor</option>
                        <option value="Co-Investor">Co-Investor</option>
                    </select>
                </td>
                <td><input type="text" name="consultancy_status_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody12B.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody12B.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


    });
</script>
{% endblock content %}