{% extends "base_form.html" %}
{% block title %}Page6{% endblock title %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Section 13: Research Supervision -->
    <section>
        <h4>13. Research Supervision</h4>

        <!-- (A) PhD Thesis Supervision -->
        <fieldset>
            <legend>(A) PhD Thesis Supervision</legend>
            <button type="button" id="addRowBtn13A" class="btn btn-primary mb-3">Add PhD Thesis Supervision</button>
            <div class="table-responsive">
                <table class="table" id="phdSuperTable">
                    <thead>
                        <tr>
                            <th>Name of Student/Research Scholar</th>
                            <th>Title of Thesis</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Ongoing Since/Date of Completion</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <!-- Fieldset for (B) M.Tech/M.E./Master's Degree -->
        <fieldset>
            <legend>(B) M.Tech/M.E./Master's Degree</legend>
            <button type="button" id="addRowBtn13B" class="btn btn-primary mb-3">Add PG supervision</button>
            <div class="table-responsive">
                <table class="table" id="pgSuperTable">
                    <thead>
                        <tr>
                            <th>Name of Student/Research Scholar</th>
                            <th>Title of Thesis</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Ongoing Since/Date of Completion</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <!-- Fieldset for (C) B.Tech/B.E./Bachelor's Degree -->
        <fieldset>
            <legend>(C) B.Tech/B.E./Bachelor's Degree</legend>
            <button type="button" id="addRowBtn13C" class="btn btn-primary mb-3">Add UG supervision</button>
            <div class="table-responsive">
                <table class="table" id="ugSuperTable">
                    <thead>
                        <tr>
                            <th>Name of Student/Research Scholar</th>
                            <th>Title of Project</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Ongoing Since/Date of Completion</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </section>


    <!-- Save and Next button -->
    <div class="btn-container">
        <a href="{% url 'page5' %}" class="btn btn-success mx-3">Previous Page</a>
        <button type="submit" id="nextButton">Save And Next</button>
    </div>
</form>
<script>
    // JavaScript for dynamic addition and deletion of rows
    document.addEventListener('DOMContentLoaded', function () {

        //13A
        const addRowBtn13A = document.getElementById('addRowBtn13A');
        const tableBody13A = document.querySelector('#phdSuperTable tbody');
        // Add event listener for add button
        addRowBtn13A.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="phd_name_"></td>
                <td><input type="text" name="phd_title_"></td>
                <td>
                    <select name="phd_role_">
                        <option value="Supervisor with no Co-Supervisor">Supervisor with no Co-Supervisor
                        </option>
                        <option value="Supervisor with Co-Supervisor">Supervisor with Co-Supervisor</option>
                        <option value="Co-Supervisor">Co-Supervisor</option>
                    </select>
                </td>
                <td>
                    <select name="phd_status_">
                        <option value="Ongoing">Ongoing</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td><input type="date" name="phd_date_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody13A.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody13A.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


        //13B
        const addRowBtn13B = document.getElementById('addRowBtn13B');
        const tableBody13B = document.querySelector('#pgSuperTable tbody');
        // Add event listener for add button
        addRowBtn13B.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="pg_name_"></td>
                <td><input type="text" name="pg_title_"></td>
                <td>
                    <select name="pg_role_">
                        <option value="Supervisor with no Co-Supervisor">Supervisor with no Co-Supervisor
                        </option>
                        <option value="Supervisor with Co-Supervisor">Supervisor with Co-Supervisor</option>
                        <option value="Co-Supervisor">Co-Supervisor</option>
                    </select>
                </td>
                <td>
                    <select name="pg_status_">
                        <option value="Ongoing">Ongoing</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td><input type="date" name="pg_date_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody13B.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody13B.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


        //13C
        const addRowBtn13C = document.getElementById('addRowBtn13C');
        const tableBody13C = document.querySelector('#ugSuperTable tbody');
        // Add event listener for add button
        addRowBtn13C.addEventListener('click', function () {
            const newRow = `
              <tr>
                <td><input type="text" name="ug_name_"></td>
                <td><input type="text" name="ug_title_"></td>
                <td>
                    <select name="ug_role_">
                        <option value="Supervisor with no Co-Supervisor">Supervisor with no Co-Supervisor
                        </option>
                        <option value="Supervisor with Co-Supervisor">Supervisor with Co-Supervisor</option>
                        <option value="Co-Supervisor">Co-Supervisor</option>
                    </select>
                </td>
                <td>
                    <select name="ug_status_">
                        <option value="Ongoing">Ongoing</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td><input type="date" name="ug_date_"></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
              `;
            tableBody13C.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody13C.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


    });
</script>
{% endblock content %}