{% extends "base_form.html" %}
{% block title %}Page4{% endblock title %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Section 5: Summary of Publications -->
    <section>
        <h4>5. Summary of Publications</h4>
        <fieldset>
            <div class="row">
                <div class="col">
                    <label for="international_journal_papers" class="w-100">No. of International Journal
                        Papers:</label>
                    <input type="number" id="international_journal_papers" name="international_journal_papers" required>
                </div>
                <div class="col">
                    <label for="national_journal_papers" class="w-100">No. of National Journal
                        Papers:</label>
                    <input type="number" id="national_journal_papers" name="national_journal_papers" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="international_conference_papers" class="w-100">No. of International
                        Conference
                        Papers:</label>
                    <input type="number" id="international_conference_papers" name="international_conference_papers"
                        required>
                </div>
                <div class="col">
                    <label for="national_conference_papers" class="w-100">No. of National Conference
                        Papers:</label>
                    <input type="number" id="national_conference_papers" name="national_conference_papers" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="patents" class="w-100">No. of Patent(s) (filed/published/granted):</label>
                    <input type="number" id="patents" name="patents" required>
                </div>
                <div class="col">
                    <label for="books" class="w-100">No. of Book(s):</label>
                    <input type="number" id="books" name="books" required>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="book_chapters" class="w-100">No. of Book Chapter(s):</label>
                    <input type="number" id="book_chapters" name="book_chapters" required>
                </div>
            </div>
        </fieldset>
    </section>

    <!-- Section 6: List of 10 Best Publications (Journal/Conference) -->
    <section>
        <h4>6. List of 10 Best Publications (Journal/Conference)</h4>
        <fieldset>
            <legend>List of 10 Best Publications (Journal/Conference)</legend>
            <button type="button" id="addRowBtn6" class="btn btn-primary mb-3">Add Publication</button>
            <div class="table-responsive">
                <table class="table" id="bestPubTable">
                    <thead>
                        <tr>
                            <th>Author(s)</th>
                            <th>Title</th>
                            <th>Name of Journal/Conference</th>
                            <th>Year, Vol., Page</th>
                            <th>Impact Factor</th>
                            <th>DOI</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </section>

    <!-- Section 7: List of Patent(s), Book(s), Book Chapter(s) -->
    <section>
        <h4>7. List of Patent(s), Book(s), Book Chapter(s)</h4>

        <!-- Subsection A: Patent(s) -->
        <fieldset>
            <legend>(A) Patent(s)</legend>
            <button type="button" id="addRowBtn7A" class="btn btn-primary mb-3">Add Patent</button>
            <div class="table-responsive">
                <table class="table" id="patentTable">
                    <thead>
                        <tr>
                            <th>Inventor(s)</th>
                            <th>Title of Patent</th>
                            <th>Country of Patent</th>
                            <th>Patent Number</th>
                            <th>Date of Filing</th>
                            <th>Date of Published</th>
                            <th>Status Filed/Published/Granted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <!-- Subsection B: Book(s) -->
        <fieldset>
            <legend>(B) Book(s)</legend>
            <button type="button" id="addRowBtn7B" class="btn btn-primary mb-3">Add Book</button>
            <div class="table-responsive">
                <table class="table" id="bookTable">
                    <thead>
                        <tr>
                            <th>Author(s)</th>
                            <th>Title of the Book</th>
                            <th>Year of Publication</th>
                            <th>ISBN</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <!-- Subsection C: Book Chapter(s) -->
        <fieldset>
            <legend>(C) Book Chapter(s)</legend>
            <button type="button" id="addRowBtn7C" class="btn btn-primary mb-3">Add Book Chapter</button>
            <div class="table-responsive">
                <table class="table" id="chapterTable">
                    <thead>
                        <tr>
                            <th>Author(s)</th>
                            <th>Title of the Book Chapter(s)</th>
                            <th>Year of Publication</th>
                            <th>ISBN</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </section>

    <!-- Section 8: Google Scholar Link  -->
    <section>
        <h4>8. Google Scholar Link</h4>
        <div class="row">
            <div class="col-2">
                <label for="google_scholar_link" class="w-100">Google Scholar Link:</label>
            </div>
            <div class="col-10">
                <input type="text" id="google_scholar_link" name="google_scholar_link" required>
            </div>
        </div>
    </section>

    <!-- Save and Next button -->
    <div class="btn-container">
        <a href="{% url 'page3' %}" class="btn btn-success mx-3">Previous Page</a>
        <button type="submit" id="nextButton">Save And Next</button>
    </div>
</form>
<script>
    // JavaScript for dynamic addition and deletion of rows
    document.addEventListener('DOMContentLoaded', function () {

        //6
        const addRowBtn6 = document.getElementById('addRowBtn6');
        const tableBody6 = document.querySelector('#bestPubTable tbody');

        // Add event listener for add button
        addRowBtn6.addEventListener('click', function () {
            const newRow = `
                <tr>
                    <td><input type="text" name="publication_author_"></td>
                    <td><input type="text" name="publication_title_"></td>
                    <td><input type="text" name="publication_name_"></td>
                    <td><input type="text" name="publication_year_vol_page_"></td>
                    <td><input type="text" name="publication_impact_"></td>
                    <td><input type="text" name="publication_doi_"></td>
                    <td>
                        <select name="publication_status_">
                            <option value="Published">Published</option>
                            <option value="Accepted">Accepted</option>
                        </select>
                    </td>
                  <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
              </tr>
                `;
            tableBody6.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody6.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });

        //7A
        const addRowBtn7A = document.getElementById('addRowBtn7A');
        const tableBody7A = document.querySelector('#patentTable tbody');
        // Add event listener for add button
        addRowBtn7A.addEventListener('click', function () {
            const newRow = `
                <tr>
                    <td><input type="text" name="inventor_"></td>
                    <td><input type="text" name="patent_title_"></td>
                    <td><input type="text" name="patent_country_"></td>
                    <td><input type="text" name="patent_number_"></td>
                    <td><input type="date" name="patent_filing_"></td>
                    <td><input type="date" name="patent_published_"></td>
                    <td><input type="text" name="patent_status_"></td>
                    <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
              </tr>
                `;
            tableBody7A.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody7A.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });

        //7B
        const addRowBtn7B = document.getElementById('addRowBtn7B');
        const tableBody7B = document.querySelector('#bookTable tbody');
        // Add event listener for add button
        addRowBtn7B.addEventListener('click', function () {
            const newRow = `
                <tr>
                    <td><input type="text" id="book_author_1" name="book_author_1"></td>
                    <td><input type="text" id="book_title_1" name="book_title_1"></td>
                    <td><input type="text" id="book_year_1" name="book_year_1"></td>
                    <td><input type="text" id="book_isbn_1" name="book_isbn_1"></td>
                  <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
                </tr>
                `;
            tableBody7B.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody7B.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


        //7C
        const addRowBtn7C = document.getElementById('addRowBtn7C');
        const tableBody7C = document.querySelector('#chapterTable tbody');
        // Add event listener for add button
        addRowBtn7C.addEventListener('click', function () {
            const newRow = `
                <tr>
                    <td><input type="text" name="book_chapter_author_"></td>
                    <td><input type="text" name="book_chapter_title_"></td>
                    <td><input type="text" name="book_chapter_year_"></td>
                    <td><input type="text" name="book_chapter_isbn_"></td>
                  <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
              </tr>
                `;
            tableBody7C.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody7C.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });


    });

</script>
{% endblock content %}