{% extends "base_form.html" %}
{% block title %}Page2{% endblock title %}
{% block content %}
<form action="{% url 'page2' %}" method="post">
    {% csrf_token %}

    <!-- Section 2: Educational Qualification -->
    <section>
        <h4>2. Educational Qualifications</h4>

        <!-- Subsection A: Details of PhD -->
        <fieldset>
            <legend>(A) Details of PhD</legend>
            <div class="row">
                <div class="col">
                    <label for="phd_university">University/Institute:</label>
                    {{ page2_form.phd_university.errors }}
                    {{ page2_form.phd_university }}
                </div>
                <div class="col">
                    <label for="phd_department">Department:</label>
                    {{ page2_form.phd_department.errors }}
                    {{ page2_form.phd_department }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="phd_supervisor">Name of PhD Supervisor:</label>
                    {{ page2_form.phd_supervisor.errors }}
                    {{ page2_form.phd_supervisor }}
                </div>
                <div class="col">
                    <label for="phd_join_year">Year of joining:</label>
                    {{ page2_form.phd_join_year.errors }}
                    {{ page2_form.phd_join_year }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="phd_defence_date">Date of Successful Thesis Defence:</label>
                    {{ page2_form.phd_defence_date.errors }}
                    {{ page2_form.phd_defence_date }}
                </div>
                <div class="col">
                    <label for="phd_award_date">Date of Award:</label>
                    {{ page2_form.phd_award_date.errors }}
                    {{ page2_form.phd_award_date }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="phd_thesis_title">Title of PhD Thesis:</label>
                    {{ page2_form.phd_thesis_title.errors }}
                    {{ page2_form.phd_thesis_title }}
                </div>
            </div>
        </fieldset>

        <!-- Subsection B: Academic Details - M. Tech./ M.E./ PG Details -->
        <fieldset>
            <legend>(B) Academic Details - M. Tech./ M.E./ PG Details</legend>
            <div class="row">
                <div class="col">
                    <label for="pg_degree">Degree/Certificate:</label>
                    {{ page2_form.pg_degree.errors }}
                    {{ page2_form.pg_degree }}
                </div>
                <div class="col">
                    <label for="pg_university">University/Institute:</label>
                    {{ page2_form.pg_university.errors }}
                    {{ page2_form.pg_university }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="pg_branch">Branch/Stream:</label>
                    {{ page2_form.pg_branch.errors }}
                    {{ page2_form.pg_branch }}
                </div>
                <div class="col">
                    <label for="pg_join_year">Year of Joining:</label>
                    {{ page2_form.pg_join_year.errors }}
                    {{ page2_form.pg_join_year }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="pg_completion_year">Year of Completion:</label>
                    {{ page2_form.pg_completion_year.errors }}
                    {{ page2_form.pg_completion_year }}
                </div>
                <div class="col">
                    <label for="pg_duration">Duration (in years):</label>
                    {{ page2_form.pg_duration.errors }}
                    {{ page2_form.pg_duration }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="pg_percentage_cgpa">Percentage/ CGPA:</label>
                    {{ page2_form.pg_percentage_cgpa.errors }}
                    {{ page2_form.pg_percentage_cgpa }}
                </div>
                <div class="col">
                    <label for="pg_division">Division/Class:</label>
                    {{ page2_form.pg_division.errors }}
                    {{ page2_form.pg_division }}
                </div>
            </div>
        </fieldset>

        <!-- Subsection C: Academic Details - B. Tech /B.E. / UG Details -->
        <fieldset>
            <legend>(C) Academic Details - B. Tech /B.E. / UG Details</legend>

            <div class="row">
                <div class="col">
                    <label for="ug_degree">Degree/Certificate:</label>
                    {{ page2_form.ug_degree.errors }}
                    {{ page2_form.ug_degree }}
                </div>
                <div class="col">
                    <label for="ug_university">University/Institute:</label>
                    {{ page2_form.ug_university.errors }}
                    {{ page2_form.ug_university }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="ug_branch">Branch/Stream:</label>
                    {{ page2_form.ug_branch.errors }}
                    {{ page2_form.ug_branch }}
                </div>
                <div class="col">
                    <label for="ug_join_year">Year of Joining:</label>
                    {{ page2_form.ug_join_year.errors }}
                    {{ page2_form.ug_join_year }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="ug_completion_year">Year of Completion:</label>
                    {{ page2_form.ug_completion_year.errors }}
                    {{ page2_form.ug_completion_year }}
                </div>
                <div class="col">
                    <label for="ug_duration">Duration (in years):</label>
                    {{ page2_form.ug_duration.errors }}
                    {{ page2_form.ug_duration }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="ug_percentage_cgpa">Percentage/ CGPA:</label>
                    {{ page2_form.ug_percentage_cgpa.errors }}
                    {{ page2_form.ug_percentage_cgpa }}
                </div>
                <div class="col">
                    <label for="ug_division">Division/Class:</label>
                    {{ page2_form.ug_division.errors }}
                    {{ page2_form.ug_division }}
                </div>
            </div>
        </fieldset>

        <!-- Subsection D: Academic Details - School -->
        <fieldset>
            <legend>(D) Academic Details - School</legend>
            <div class="table-responsive">
                <table class="table">
                    <!-- Table format form for School details -->
                    <tr>
                        <th>10th/12th/HSC/Diploma</th>
                        <th>School</th>
                        <th>Year of Passing</th>
                        <th>Percentage/Grade</th>
                        <th>Division/Class</th>
                    </tr>
                    <tr>
                        <td>{{ page2_form.college_class.errors }}
                            {{ page2_form.college_class }}</td>
                        <td>{{ page2_form.college_name.errors }}
                            {{ page2_form.college_name }}</td>
                        <td>{{ page2_form.college_passing_year.errors }}
                            {{ page2_form.college_passing_year }}</td>
                        <td>{{ page2_form.college_percentage.errors }}
                            {{ page2_form.college_percentage}}</td>
                        <td>{{ page2_form.college_division.errors }}
                            {{ page2_form.college_division }}</td>
                    </tr>
                    <tr>
                        <td>{{ page2_form.school_class.errors }}
                            {{ page2_form.school_class }}</td>
                        <td>{{ page2_form.school_name.errors }}
                            {{ page2_form.school_name }}</td>
                        <td>{{ page2_form.school_passing_year.errors }}
                            {{ page2_form.school_passing_year }}</td>
                        <td>{{ page2_form.school_percentage.errors }}
                            {{ page2_form.school_percentage}}</td>
                        <td>{{ page2_form.school_division.errors }}
                            {{ page2_form.school_division }}</td>
                    </tr>
                   
                </table>
            </div>
        </fieldset>

        <!-- Subsection E: Additional Educational Qualification -->
        <fieldset>
            <legend> (E) Additional Educational Qualification (If any)</legend>
            <!-- Add button for Additional Educational Qualification -->
            <button type="button" id="addRowBtn" class="btn btn-primary mb-3">Add Qualification</button>

            <!-- Additional Educational Qualification table -->
            <div class="table-responsive">
                <table class="table" id="qualificationTable">
                    <thead>
                        <tr>
                            <th>Degree/Certificate</th>
                            <th>University/Institute</th>
                            <th>Branch/Stream</th>
                            <th>Year of Joining</th>
                            <th>Year of Completion</th>
                            <th>Duration (in years)</th>
                            <th>Percentage/CGPA</th>
                            <th>Division/Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic rows for Additional Educational Qualification will be added here -->
                    </tbody>
                </table>
            </div>


        </fieldset>

    </section>

    <!-- Save and Next button -->
    <div class="btn-container">
        <a href="{% url 'page1' %}" class="btn btn-success mx-3">Previous Page</a>
        <button type="submit" class="btn btn-primary">Save And Next</button>
    </div>
</form>

<script>
    // JavaScript for dynamic addition and deletion of rows
    document.addEventListener('DOMContentLoaded', function () {
        const addRowBtn = document.getElementById('addRowBtn');
        const tableBody = document.querySelector('#qualificationTable tbody');

        // Add event listener for add button
        addRowBtn.addEventListener('click', function () {
            const newRow = `
            <tr>
                <td><input type="text" name="qualification_degree_" required></td>
                <td><input type="text" name="qualification_institute_" required></td>
                <td><input type="text" name="qualification_branch_" required></td>
                <td><input type="date" name="qualification_year_of_joining_" required></td>
                <td><input type="date" name="qualification_year_of_completion_" required></td>
                <td><input type="number" name="qualification_duration_" required></td>
                <td><input type="text" name="qualification_percentage_" required></td>
                <td><input type="text" name="qualification_division_" required></td>
                <td><button type="button" class="btn btn-danger deleteRowBtn">Delete</button></td>
            </tr>
            `;
            tableBody.insertAdjacentHTML('beforeend', newRow);
        });

        // Add event listener for delete button
        tableBody.addEventListener('click', function (event) {
            if (event.target.classList.contains('deleteRowBtn')) {
                event.target.closest('tr').remove();
            }
        });
    });
</script>
{% endblock content %}
