{% extends "base_form.html" %}
{% block title %}Page1{% endblock title %}
{% block content %}
<div class="box">
    <div class="row mt-4 mx-2 ">
        <div class="col-6">
            <h3>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h3>
        </div>
        <div class="col-4">
            <h3>Application Number : 12345678</h3>
        </div>
        <div class="col-2">
            <a href="{% url 'logout' %}" class="btn btn-success mx-3 ">Logout</a>
        </div>
    </div>
    <hr>
    <form action="{% url 'page1' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Application Details -->
        <section>
            <h4>Application Details</h4>    
            <div class="row">
                <div class="col">
                    <label for="advertisementNumber">Advertisement Number:</label><br>
                    {{ page1_form.advertisement_number.errors }}
                    {{ page1_form.advertisement_number }}
                </div>
                <div class="col">
                    <label for="postAppliedFor">Post Applied For:</label><br>
                    {{ page1_form.post_applied_for.errors }}
                    {{ page1_form.post_applied_for }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="dateOfApplication">Date of Application:</label><br>
                    {{ page1_form.date_of_application.errors }}
                    {{ page1_form.date_of_application }}
                </div>
                <div class="col">
                    <label for="applicationNumber">Application Number:</label><br>
                    {{ page1_form.application_number.errors }}
                    {{ page1_form.application_number }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="department">Department:</label><br>
                    {{ page1_form.department.errors }}
                    {{ page1_form.department }}
                </div>
            </div>
        </section>
        <hr>

        <!-- Personal Details -->
        <section>
            <h4>Personal Details</h4>
            <div class="row">
                <div class="col">
                    <label for="photo">Upload Photo of Applicant:</label><br>
                    {{ page1_form.photo.errors }}
                    {{ page1_form.photo }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="firstName">First Name:</label><br>
                    {{ page1_form.first_name.errors }}
                    {{ page1_form.first_name }}
                </div>
                <div class="col">
                    <label for="middleName">Middle Name:</label><br>
                    {{ page1_form.middle_name.errors }}
                    {{ page1_form.middle_name }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="lastName">Last Name:</label><br>
                    {{ page1_form.last_name.errors }}
                    {{ page1_form.last_name }}
                </div>
                <div class="col">
                    <label for="dob">DOB:</label><br>
                    {{ page1_form.dob.errors }}
                    {{ page1_form.dob }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="nationality">Nationality:</label><br>
                    {{ page1_form.nationality.errors }}
                    {{ page1_form.nationality }}
                </div>
                <div class="col">
                    <label for="category">Category:</label><br>
                    {{ page1_form.category.errors }}
                    {{ page1_form.category }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="gender">Gender:</label><br>
                    {{ page1_form.gender.errors }}
                    {{ page1_form.gender }}
                </div>
                <div class="col">
                    <label for="maritalStatus">Marital Status:</label><br>
                    {{ page1_form.marital_status.errors }}
                    {{ page1_form.marital_status }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="fatherName">Father's Full Name:</label><br>
                    {{ page1_form.father_name.errors }}
                    {{ page1_form.father_name }}
                </div>
                <div class="col">
                    <label for="motherName">Mother's Full Name:</label><br>
                    {{ page1_form.mother_name.errors }}
                    {{ page1_form.mother_name }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="idProofType">ID Proof Type:</label><br>
                    {{ page1_form.id_proof_type.errors }}
                    {{ page1_form.id_proof_type }}
                </div>
                <div class="col">
                    <label for="idProofUpload">Upload ID Proof (pdf, max 300kB):</label><br>
                    {{ page1_form.id_proof_upload.errors }}
                    {{ page1_form.id_proof_upload }}
                </div>
            </div>
        </section>
        <hr>

        <!-- Correspondence Address -->
        <section>
            <h4>Correspondence Address</h4>
            <div class="row">
                <div class="col">
                    <label for="streetCorrespondence">Street:</label><br>
                    {{ page1_form.street_correspondence.errors }}
                    {{ page1_form.street_correspondence }}
                </div>
                <div class="col">
                    <label for="cityCorrespondence">City:</label><br>
                    {{ page1_form.city_correspondence.errors }}
                    {{ page1_form.city_correspondence }}
                </div>
                <div class="col">
                    <label for="districtCorrespondence">District:</label><br>
                    {{ page1_form.district_correspondence.errors }}
                    {{ page1_form.district_correspondence }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="stateCorrespondence">State:</label><br>
                    {{ page1_form.state_correspondence.errors }}
                    {{ page1_form.state_correspondence }}
                </div>
                <div class="col">
                    <label for="countryCorrespondence">Country:</label><br>
                    {{ page1_form.country_correspondence.errors }}
                    {{ page1_form.country_correspondence }}
                </div>
                <div class="col">
                    <label for="pinCorrespondence">Pin/Zip:</label><br>
                    {{ page1_form.pin_correspondence.errors }}
                    {{ page1_form.pin_correspondence }}
                </div>
            </div>
        </section>
        <hr>

        <!-- Permanent Address -->
        <section>
            <h4>Permanent Address</h4>
            <div class="row">
                <div class="col">
                    <label for="streetPermanent">Street:</label><br>
                    {{ page1_form.street_permanent.errors }}
                    {{ page1_form.street_permanent }}
                </div>
                <div class="col">
                    <label for="cityPermanent">City:</label><br>
                    {{ page1_form.city_permanent.errors }}
                    {{ page1_form.city_permanent }}
                </div>
                <div class="col">
                    <label for="districtPermanent">District:</label><br>
                    {{ page1_form.district_permanent.errors }}
                    {{ page1_form.district_permanent }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="statePermanent">State:</label><br>
                    {{ page1_form.state_permanent.errors }}
                    {{ page1_form.state_permanent }}
                </div>
                <div class="col">
                    <label for="countryPermanent">Country:</label><br>
                    {{ page1_form.country_permanent.errors }}
                    {{ page1_form.country_permanent }}
                </div>
                <div class="col">
                    <label for="pinPermanent">Pin/Zip:</label><br>
                    {{ page1_form.pin_permanent.errors }}
                    {{ page1_form.pin_permanent }}
                </div>
            </div>
        </section>
        <hr>

        <!-- Contact Details -->
        <section>
            <h4>Contact Details</h4>
            <div class="row">
                <div class="col">
                    <label for="mobileNumber">Mobile Number:</label><br>
                    {{ page1_form.mobile_number.errors }}
                    {{ page1_form.mobile_number }}
                </div>
                <div class="col">
                    <label for="alternateMobile">Alternate Mobile Number:</label><br>
                    {{ page1_form.alternate_mobile.errors }}
                    {{ page1_form.alternate_mobile }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email">Email ID:</label><br>
                    {{ page1_form.email.errors }}
                    {{ page1_form.email }}
                </div>
                <div class="col">
                    <label for="alternateEmail">Alternate Email ID:</label><br>
                    {{ page1_form.alternate_email.errors }}
                    {{ page1_form.alternate_email }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="landline">Landline Number:</label><br>
                    {{ page1_form.landline.errors }}
                    {{ page1_form.landline }}
                </div>
            </div>
        </section>

        <!-- Save and Next button -->
        <div class="btn-container">
            <button type="submit" id="nextButton">Save And Next</button>
        </div>
    </form>
</div>
{% endblock content %}

