{% extends "base_login.html" %}
{% block title %}Reset Password Done{% endblock title %}
{% block content %}
<div class="formPlace">
    <h3>Password Reset Mail Sent</h3>
    <p>We've emailed you instructions for setting your password, 
        if an account exists with the email you entered. You should recieve them shortly.</p>
    <p>If you don't recieve an email, plese make sure you've entered the address correctly 
        and please check your spam folder </p>
</div>
{% endblock content %}
