{% extends "base_login.html" %}
{% block title %}Faculty Forgot Password{% endblock title %}
{% block content %}
<div class="formPlace">
  <h1 class="mb-4">RESET PASSWORD HERE</h1>

  <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-info">Submit</button>
  </div>
  
  </form>


  <div class="btn-group mt-3 w-75">
    <a href="{% url 'register' %}" class="btn btn-success mx-3">Register</a>
    <a href="{% url 'user_login' %}" class="btn btn-secondary mx-3">Login</a>
  </div>
</div>
{% endblock content %}
