{% extends "base_login.html" %}
{% block title %}Reset Password Confirm{% endblock title %}
{% block content %}
{% if validlink %}
<h1 class="mb-4">CHANGE PASSWORD</h1>

  <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-info">Change Password</button>
  </div>
  
  </form>

{% else %}
<p>The Password Reset link is invalid, possibly because it has already been used.
    Please request a new Password Reset.
</p>
{% endif %}
{% endblock content %}
